.NavigationBottom{
    border-bottom: #ccc 1px solid
}

.NavigationBottom ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display:flex;
    flex-flow: row;
    padding: 0px 25px;
}

@media (min-width: 500px) {
    .NavigationBottom {
        flex-flow: row;
    }
}