.Image{
    padding-left: 50px;
}

.Image img {
    height: 40px;
    width: 40px;
    margin-left:50px;
    border-radius: 100px 100px 100px 100px;
}

/* .Image p {
    margin: 7px 5px;
    margin-bottom: 2px;
} */