.ContentResult {
    padding-left: 165px;
    margin: 20px 0px;
    width: 750px
}

.ContentResult p {
    margin: 0px;
}

.ContentResult p a{
    color: #1a0dab;
    font-size: 18px;
    margin:0px;
}

.ContentResult p span{
    color: #006621;
    font-size: 12px;

}

.ZeroResult {
    padding-left: 150px;
    color: black;
    width: 750px
}

.ZeroResult ul li{
    font-size: 15px;
}